body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.flex{
  flex-direction: row;
  flex-wrap: no-wrap;
}

.img{
  width: 100px;
  height: 100px;
}

.floor{
  align-self: center;
}

.character{
  font-size: 30px;
  padding: 10px;
  margin: 0px;
}

.p-meaning{
  margin: 0px;
  padding: 0px;
  font-size: 30px;
}
.p-kanji{
  margin: 0px;
  padding: 0px;
  font-size: 100px;
  animation: kanji 4s infinite;
}

@keyframes kanji {
  0% {font-size: 100px;}   
  50% {font-size: 50px;}  
  100% {font-size: 100px;}
}

* {
  box-sizing: border-box;
}

.flex-container {
  display: flex;
  flex-wrap: nowrap;
  font-size: 30px;
  text-align: center;
}

.flex-container-tower {
  display: flex;
  flex-wrap: nowrap;
  font-size: 30px;
  text-align: center;
  flex-direction: column-reverse;
}

.flex-item-character {
  background-color: pink;
  padding: 2px;
  flex-direction: row;
  flex-wrap: nowrap;
  flex: 100%;
}

.flex-item-characters {
  display: flex;
  padding: 10px;
  margin: 4px;
  flex: 70%;
}

.flex-item-full {
  padding: 10px;
  align-self: stretch;
  flex: 100%;
}

.flex-item-margin {
  padding: 10px;
  flex: 15%;
}

/* Responsive layout - makes a one column-layout instead of a two-column layout */
@media (max-width: 800px) {
  .flex-item-full, .flex-item-margin, .flex-item-characters, .flex-item-character {
    flex: 100%;
  }
}